{% extends 'base.html' %}
{% block title %}{{block.super}}{% endblock %}

{% block styles %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
<link rel="stylesheet" type="text/css" href="/media/css/about.css">
{% endblock styles %}

{% block nav %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock nav %}

{% block content %}
    <!-- HP: By executive fiat, I hereby declare it prohibited to use the navbar-inverse or navbar-fixed-top classes! -->
    <div class="description-wics">
        <h1>About Us</h1>
      <p>The University of Pennsylvania Women in Computer Science student organization aims to foster a community for the women in tech at Penn - including Computer Science, Computer Engineering, Computational Biology, Digital Media Design and Networked and Social Systems Engineering. Our purpose is to support and promote women in CS by encouraging discussion and raising awareness regarding issues surrounding Women in Computer Science.</p>
    </div>
    <div class="about-us">
      <h1>The Board</h1>
      <div class= "about-description">
        <div class="about-individual">
            <img src="../media/img/sneha.jpg" alt="Sneha Keshwani"/>
            <div class="line"></div>
            <p class="name">Sneha Keshwani</p>
            <p class="email"><a href="mailto:snehak@wharton.upenn.edu">snehak@wharton.upenn.edu</a></p>
            <p class="major">Computer Science @ SEAS and Stat @ Wharton</p>
            <div class="line"></div>
            <p class="detailed-description">Sneha is a junior in the Jerome Fisher Program in Management and Technology, studying Computer Science, Finance and Management. In the past, she has interned at KPMG, Microsoft, and been a TA for CIS121. She loves travel, tea, and the Oxford comma.</p>
          </div>
        <div class="about-individual">
            <img src="../media/img/johanna.jpg" alt="Johanna Martens"/>
            <div class="line"></div>
            <p class="name">Johanna Martens</p>
            <p class="email"><a href="mailto:johanna.m.martens@gmail.com">johanna.m.martens@gmail.com</a></p>
            <p class="major">Computer Science @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Johanna is currently a senior, majoring in CS and she interned at Goldman Sachs this past summer and Vanguard two summers ago. She is TAing for CIS 240 right now, and she organizes our TechNights program.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/allison.jpg" alt="Allison Pearce"/>
            <div class="line"></div>
            <p class="name">Allison Pearce</p>
            <p class="email"><a href="mailto:allisonpearce92@gmail.com">allisonpearce92@gmail.com</a></p>
            <p class="major">Computer Science @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Allison Pearce is a senior in computer science. She spent last summer jumping out of planes, climbing rocks, surfing, and working on neuromorphic computing in San Diego as a Qualcomm Corporate R&D intern. Previously, she spent two summers doing research and software engineering in a translational neuroengineering lab at Penn. She likes Welsh corgis, Tough Mudders, and Texas barbecue.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/jasmine.jpg" alt="Jasmine Lee"/>
            <div class="line"></div>
            <p class="name">Jasmine Lee</p>
            <p class="email"><a href="mailto:ljasmine@seas.upenn.edu">ljasmine@seas.upenn.edu</a></p>
            <p class="major">Computer Engineering @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Jasmine is a Computer Engineering Junior at Penn and she enjoyed last summer interning at Asus in Taiwan. She is also a web developer for Weiss Tech House.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/teresa.jpg" alt="Teresa Fan"/>
            <div class="line"></div>
            <p class="name">Teresa Fan</p>
            <p class="email"><a href="mailto:teresaefan@gmail.com">teresaefan@gmail.com</a></p>
            <p class="major">Computer Science @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Teresa Fan is a Digital Media Design sophomore at Penn. Last summer she worked as a research assistant in the SIG lab at Penn and spent a week at Google for Chrome Academy. She is also a Google Student Ambassador this year.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/clara.jpg" alt="Clara Wu"/>
            <div class="line"></div>
            <p class="name">Clara Wu</p>
            <p class="email"><a href="mailto:s.clara.wu@gmail.com">s.clara.wu@gmail.com</a></p>
            <p class="major">Networked and Social Systems Engineering @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Clara Wu is a Networked and Social Systems junior in Engineering at Penn. 
            This past summer, she interned at Tumblr and was a HackNY Fellow and in the past, interned at Solve Media, a New York and Philadelphia based tech startup. She is also a developer for PennApps Labs, an organization that builds apps for the school.</p>
        </div>
      </div>
    </div>
{% endblock content %}

{% block footer %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock footer %}

{% block scripts %}
<!-- HP: Put your scripts here -->
{% endblock scripts %}
