{% extends 'base.html' %}
{% block title %}{{block.super}}{% endblock %}

{% block styles %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
<link rel="stylesheet" type="text/css" href="/media/css/about.css">
{% endblock styles %}

{% block nav %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock nav %}

{% block content %}
    <!-- HP: By executive fiat, I hereby declare it prohibited to use the navbar-inverse or navbar-fixed-top classes! -->
    <div class="description-wics">
        <h1>About Us</h1>
      <p>The University of Pennsylvania Women in Computer Science student organization aims to foster a community for the women in tech at Penn - including Computer Science, Computer Engineering, Computational Biology, Digital Media Design and Networked and Social Systems Engineering. Our purpose is to support and promote women in CS by encouraging discussion and raising awareness regarding issues surrounding Women in Computer Science.</p>
    </div>
    <div class="about-us">
      <h1>The Board</h1>
      <div class= "about-description">
        <div class="about-individual">
            <img src="../media/img/portrait.gif" alt="Sneha Keshwani"/>
            <div class="line"></div>
            <p class="name">Sneha Keshwani</p>
            <p class="email">snehak@wharton.upenn.edu</p>
            <p class="major">Computer Science @ SEAS and Stat @ Wharton</p>
            <div class="line"></div>
            <p class="detailed-description">Sneha is a Computer Science sophomore in Engineering and Stat in Wharton double major in Jerome Fisher Program for Management and Technology. 
            In the past - she has interned at KPMG, TA'ed CIS121 and will be interning at Microsoft this summer as an Explore Intern.</p>
          </div>
        <div class="about-individual">
            <img src="../media/img/portrait.gif" alt="Johanna Martens"/>
            <div class="line"></div>
            <p class="name">Johanna Martens</p>
            <p class="email">johanna.m.martens@gmail.com</p>
            <p class="major">Computer Science @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Johanna is junior in CS at Penn. When she is not programming, she enjoys photography, board games and puppies.
            Last summer, she interned at Vanguard as a dev intern.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/portrait.gif" alt="Allison Pierce"/>
            <div class="line"></div>
            <p class="name">Allison Pearce</p>
            <p class="email">allisonpearce92@gmail.com</p>
            <p class="major">Computer Science @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Johanna is junior in CS at Penn. When she is not programming, she enjoys photography, board games and puppies.
            Last summer, she interned at Vanguard as a dev intern.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/portrait.gif" alt="Jasmine Lee"/>
            <div class="line"></div>
            <p class="name">Jasmine Lee</p>
            <p class="email">ljasmine@seas.upenn.edu</p>
            <p class="major">Computer Engineering @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Jasmine is a Computer Science sophomore in Engineering and Stat in Wharton double major in Jerome Fisher Program for Management and Technology. 
            In the past - she has interned at KPMG, TA'ed CIS121 and will be interning at Microsoft this summer as an Explore Intern.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/portrait.gif" alt="Teresa Fan"/>
            <div class="line"></div>
            <p class="name">Teresa Fan</p>
            <p class="email">teresaefan@gmail.com</p>
            <p class="major">Computer Science @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Teresa Fan is a Computer Science freshman in Engineering and Stat in Wharton double major in Jerome Fisher Program for Management and Technology. 
            In the past - she has interned at KPMG, TA'ed CIS121 and will be interning at Microsoft this summer as an Explore Intern.</p>
        </div>
        <div class="about-individual">
            <img src="../media/img/clara.jpg" alt="Clara Wu"/>
            <div class="line"></div>
            <p class="name">Clara Wu</p>
            <p class="email">s.clara.wu@gmail.com</p>
            <p class="major">Networked and Social Systems Engineering @ SEAS</p>
            <div class="line"></div>
            <p class="detailed-description">Clara Wu is a Networked and Social Systems sophomore in Engineering and Stat in Wharton double major in Jerome Fisher Program for Management and Technology. 
            In the past - she has interned at KPMG, TA'ed CIS121 and will be interning at Microsoft this summer as an Explore Intern.</p>
        </div>
      </div>
    </div>
{% endblock content %}

{% block footer %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock footer %}

{% block scripts %}
<!-- HP: Put your scripts here -->
{% endblock scripts %}
