{% extends 'base.html' %}
{% block title %}{{block.super}}{% endblock %}

{% block styles %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
<link rel="stylesheet" type="text/css" href="/media/css/photos.css">
<link rel="stylesheet" href="/media/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
{% endblock styles %}

{% block nav %}
<!-- HP: Usually leave this alone. You can override the default by removing block.super or augment it by adding things above or below.  -->
{{block.super}}
{% endblock nav %}

{% block content %}
	<div class="photos">
    <h1 id="header">Photo Gallery</h1>
	{% for a in album %}
        <div class="album">
		    <a href="/photos/{{ a.id }}/" id="each" class="{{ a.id }}"><div class="large" style="background-image: url('{{ a.photo }}');"></div></a>
            <div class="line"></div>
            <a href="/{{ a.id }}/" id="ind" class="name">{{ a.name }}</a>
        </div>
	{% endfor %}
  </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="/media/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/media/js/photos.js" type="text/javascript"></script>
{% endblock scripts %}
